<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="c">
  <form>
    <div class="form-group">
      <label>Filter By</label>
      <select [(ngModel)]="bvSearchData.fieldPath" class="form-control" name="fieldPath">
        <option>Select</option>
        <option *ngFor="let bv of bvSearch" [value]="bv.fieldPath">{{bv.fieldName}}</option>
      </select></div>
    <div class="form-group">
      <label>Filter Value</label>
      <input type="text" name="filedValue" class="form-control" id="filterValue" [(ngModel)]="bvSearchData.fieldValue"
             placeholder="Input Value">
    </div>
    <div class="form-check">
      <label class="form-check-label" *ngFor="let fieldCheckBox of bvFieldsCheckBox">
        <input type="checkbox" [(ngModel)]="fieldCheckBox.isChecked" [ngModelOptions]="{standalone: true}">
        {{fieldCheckBox.name}}
      </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitBvData()">Submit</button>
  </form>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" *ngFor="let bvField of tempBvFieldCheckBox">
        {{bvField}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bvFieldData of bvFieldsCheckBoxData">
      <td *ngFor="let bvField of tempBvFieldCheckBox">
        {{populateData(bvField,bvFieldData)}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
